# Default values for osu-web-chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  chartName: osu-web

config:
  laravel:
    # url: http://localhost:8080 # APP_URL
    env: production # APP_ENV
    debug: false # APP_DEBUG
    trustedProxies: "*" # TRUSTED_PROXIES
    devDeploy: true # IS_DEVELOPMENT_DEPLOY
    # appKey: "" # APP_KEY, required, see README
    extraEnv: {}

    sentry: {}
      # url: "" # APP_SENTRY
      # publicUrl: "" # APP_SENTRY_PUBLIC
      # tracesSampleRate: "" # SENTRY_TRACES_SAMPLE_RATE
      # environment: "" # APP_SENTRY_ENVIRONMENT

    log:
      driver: redis # BROADCAST_DRIVER
    logChannel: stderr # LOG_CHANNEL

    cache:
      driver: redis # CACHE_DRIVER
      # localDriver: file # CACHE_DRIVER_LOCAL

    session:
      driver: redis # SESSION_DRIVER
      # domain: "" # SESSION_DOMAIN
      # secureCookie: false # SESSION_SECURE_COOKIE

    legacy:
      # sharedInteropSecret: "" # SHARED_INTEROP_SECRET
      banchoBotUserId: "" # BANCHO_BOT_USER_ID

    queue:
      driver: redis # QUEUE_DRIVER
      workers:
        general:
          enabled: true
          replicas: 1
          queues:
            - beatmap_default
            - beatmap_high
            - default
            - notification
            - store-notifications
          additionalOptions: []

    schedule:
      enabled: true
      cron: "*/5 * * * *"

    camo: {}
      # key: "" # CAMO_KEY
      # prefix: "" # CAMO_PREFIX

    oauth:
      publicKey: ""
      privateKey: ""

    # githubToken: "" # GITHUB_TOKEN
    # changelogGithubToken: "" # CHANGELOG_GITHUB_TOKEN

    datadog:
      # enabled: true # DATADOG_ENABLED
      # prefix: osu.web # DATADOG_PREFIX
      # apiKey: "" # DATADOG_API_KEY
      # appKey: "" # DATADOG_APP_KEY
      # host: https://app.datadoghq.com # DATADOG_HOST
      statsd: {}
        # host: localhost # DATADOG_STATSD_HOST
        # port: 8125 # DATADOG_STATSD_PORT
        # socket: "" # DATADOG_STATSD_SOCKET

    payments:
      sandbox: true # PAYMENT_SANDBOX
      storeStaleDays: "" # STORE_STALE_DAYS
      shopify:
        domain: "" # SHOPIFY_DOMAIN
        storeFrontToken: "" # SHOPIFY_STOREFRONT_TOKEN
        webhookKey: "" # SHOPIFY_WEBHOOK_KEY
      paypal:
        url: https://www.sandbox.paypal.com/cgi-bin/webscr # PAYPAL_URL
        merchantId: "" # PAYPAL_MERCHANT_ID
        clientId: "" # PAYPAL_CLIENT_ID
        clientSecret: "" # PAYPAL_CLIENT_SECRET
        noShippingExperienceProfileId: "" # PAYPAL_NO_SHIPPING_EXPERIENCE_PROFILE_ID
      xsolla:
        apiKey: "" # XSOLLA_API_KEY
        merchantId: "" # XSOLLA_MERCHANT_ID
        projectId: "" # XSOLLA_PROJECT_ID
        secretKey: "" # XSOLLA_SECRET_KEY
      centili:
        apiKey: "" # CENTILI_API_KEY
        secretKey: "" # CENTILI_SECRET_KEY
        conversionRate: "" # CENTILI_CONVERSION_RATE
        widgetUrl: https://api.centili.com/payment/widget # CENTILI_WIDGET_URL

    notifications:
      queue: notification # NOTIFICATION_QUEUE
      store:
        channel: test # STORE_NOTIFICATION_CHANNEL
        queue: store-notifications # STORE_NOTIFICATIONS_QUEUE

    recaptcha:
      secret: "" # RECAPTCHA_SECRET
      siteKey: "" # RECAPTCHA_SITEKEY
      threshold: "" # RECAPTCHA_THRESHOLD

    twitch:
      clientId: "" # TWITCH_CLIENT_ID
      clientSecret: "" # TWITCH_CLIENT_SECRET

    scores:
      cacheDuration: "" # SCORES_ES_CACHE_DURATION

    scoresRankCache:
      localServer: 0 # SCORES_RANK_CACHE_LOCAL_SERVER
      minUsers: 35000 # SCORES_RANK_CACHE_MIN_USERS
      serverUrl: "" # SCORES_RANK_CACHE_SERVER_URL
      timeout: 10 # SCORES_RANK_CACHE_TIMEOUT

  clientCheckVersion: false

  spectatorServer: {}
    # env: Development # ASPNETCORE_ENVIRONMENT

  db:
    # host: localhost # DB_HOST
    database: osu # DB_DATABASE
    username: osuweb # DB_USERNAME
    password: "" # DB_PASSWORD
    migrate: true
    seed: true

  dbName: {}
    # chat: "" # defaults to osu_chat

  redis:
    app:
      # host: 127.0.0.1 # REDIS_HOST
      port: 6379 # REDIS_PORT
      db: 0 # REDIS_DB
    cache:
      # host: 127.0.0.1 # CACHE_REDIS_HOST
      port: 6379 # CACHE_REDIS_PORT
      db: 0 # CACHE_REDIS_DB
    notification:
      # host: 127.0.0.1 # NOTIFICATION_REDIS_HOST
      port: 6379 # NOTIFICATION_REDIS_PORT
      db: 0 # NOTIFICATION_REDIS_DB

  memcache: {}
    # persistentId: "" # MEMCACHED_PERSISTENT_ID
    # username: "" # MEMCACHED_USERNAME
    # password: "" # MEMCACHED_PASSWORD
    # host: 127.0.0.1 # MEMCACHED_HOST
    # port: 11211 # MEMCACHED_PORT

  mail: {}
    # driver: log # MAIL_DRIVER
    # host: "" # MAIL_HOST
    # port: "" # MAIL_PORT
    # encryption: "" # MAIL_ENCRYPTION
    # username: "" # MAIL_USERNAME
    # password: "" # MAIL_PASSWORD

  beatmapsProcessor: {}
    # mirrors: 1 # BM_PROCESSOR_MIRRORS
    # thumbnailer: http://localhost:4001 # BM_PROCESSOR_THUMBNAILER
    # sentry: "" # BM_PROCESSOR_SENTRY

  storage:
    general:
      driver: local # FILESYSTEM_DISK
      local:
        # storageClassName:
        # volumeName:
        accessModes:
          - ReadWriteOnce # if replicaCount > 1, must use ReadWriteMany or S3 driver 
        size: 1Gi
      s3:
        key: "" # S3_KEY
        secret: "" # S3_SECRET
        region: "" # S3_REGION
        bucket: "" # S3_BUCKET
        baseUrl: "" # S3_BASE_URL
        miniUrl: "" # S3_MINI_URL
    avatar:
      driver: local-avatar # AVATAR_STORAGE
      local:
        # storageClassName:
        # volumeName:
        accessModes:
          - ReadWriteOnce # if replicaCount > 1, must use ReadWriteMany or S3 driver 
        size: 1Gi
      s3:
        key: "" # S3_AVATAR_KEY
        secret: "" # S3_AVATAR_SECRET
        region: "" # S3_AVATAR_REGION
        bucket: "" # S3_AVATAR_BUCKET
        baseUrl: "" # S3_AVATAR_BASE_URL
        cachePurgePrefix: "" # AVATAR_CACHE_PURGE_PREFIX
        cachePurgeMethod: "" # AVATAR_CACHE_PURGE_METHOD
        cachePurgeAuthorizationKey: "" # AVATAR_CACHE_PURGE_AUTHORIZATION_KEY
    replay:
      driver: local # SCORE_REPLAYS_STORAGE
      local:
        # storageClassName:
        # volumeName:
        accessModes:
          - ReadWriteOnce # if replicaCount > 1, must use ReadWriteMany or S3 driver 
        size: 1Gi
      # s3 uses same settings than general storage, however bucket name is hardcoded to `replay-${mode}` (osu, taiko, fruits, mania)

  elasticsearch:
    # host: localhost:9200 # ES_HOST
    scores: {}
      # host: localhost:9200 # ES_SCORES_HOST
    # indexPrefix: "" # ES_INDEX_PREFIX
    # clientTimeout: 5 # ES_CLIENT_TIMEOUT
    # clientConnectTimeout: 0.5 # ES_CLIENT_CONNECT_TIMEOUT
    # searchTimeout: 5s # ES_SEARCH_TIMEOUT

  notificationServer: {}
    # publicUrl: /home/notifications/feed # NOTIFICATION_ENDPOINT

  beatmapsDifficultyLookupCache: {}
    # serverUrl: "" # BEATMAPS_DIFFICULTY_CACHE_SERVER_URL

replicaCount: 1

image:
  repository: pppy/osu-web
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  # tag: ""

osu-beatmap-difficulty-lookup-cache:
  enabled: true
  useSharedSecretsFromOsuWebChart: true
  config:
    beatmapDifficultyLookupCache: {}
      # useDatabaseLookups: false

osu-notification-server:
  enabled: true
  useSharedSecretsFromOsuWebChart: true

osu-server-spectator:
  enabled: true
  useSharedSecretsFromOsuWebChart: true

osu-elastic-indexer:
  enabled: true
  useSharedSecretsFromOsuWebChart: true
  config:
    elasticIndexer:
      schema: 1

osu-queue-score-statistics:
  enabled: true
  useSharedSecretsFromOsuWebChart: true
  config:
    queueScoreStatistics:
      schema: 1

mysql:
  enabled: true
  architecture: standalone

  auth:
    rootPassword: changeme # required, recommended to use a random string
    forcePassword: false

    # default db, username and password are unused and deleted in initDbScripts.
    database: ""
    username: defaultuser
    password: defaultpw

  initdbScripts:
    00-remove-default-user.sql: |
      DROP USER defaultuser;
    01-init-osu.sql: |
      CREATE DATABASE osu DEFAULT CHARSET utf8mb4;
      CREATE DATABASE osu_store DEFAULT CHARSET utf8mb4;
      CREATE DATABASE osu_mp DEFAULT CHARSET utf8mb4;
      CREATE DATABASE osu_chat DEFAULT CHARSET utf8mb4;
      CREATE DATABASE osu_charts DEFAULT CHARSET utf8mb4;
      CREATE DATABASE osu_updates DEFAULT CHARSET utf8mb4;

      CREATE USER 'osuweb'@'%' IDENTIFIED BY '';
      GRANT ALL PRIVILEGES ON *.* TO 'osuweb'@'%' WITH GRANT OPTION;

      FLUSH PRIVILEGES;

redis:
  enabled: true
  architecture: standalone
  auth:
    enabled: false

elasticsearch:
  enabled: true
  clusterName: osu-web-elasticsearch # must be unique inside namespace!
  extraEnvs:
  - name: action.auto_create_index
    value: "false"
  - name: ES_JAVA_OPTS
    value: "-Xms512m -Xmx512m"
  replicas: 1

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext:
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000

securityContext:
  runAsUser: 1000
  runAsGroup: 1000

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  annotations:
    nginx.ingress.kubernetes.io/configuration-snippet: |
      if ($uri ~* "^/(assets/|images/|favicon\.ico$|site\.webmanifest$)") {
        expires 24h;
      }

      rewrite ^/docs$ /docs/ permanent; # 301 redirect as assets are referenced by relative path
      rewrite ^/docs/$ /docs/index.html;
  hosts:
    - host: osu.ppy.sh
      paths:
        - path: /
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
